body{
margin:0;
font-family:tahoma;
background:#050816;
color:white;
text-align:center;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#111;
position:sticky;
top:0;
}

.logo-area{
display:flex;
align-items:center;
gap:10px;
}

.logo-img{
width:40px;
height:40px;
border-radius:50%;
}

nav a{
color:white;
margin:0 10px;
text-decoration:none;
}

.hero{
padding:120px 20px;
}

button{
background:#00c3ff;
border:none;
padding:10px 20px;
border-radius:8px;
cursor:pointer;
margin-top:10px;
}

.services{
padding:80px 20px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:15px;
margin-top:20px;
}

.card{
background:#0d1328;
padding:20px;
border-radius:10px;
}

.contact{
padding:80px 20px;
}

.box{
display:flex;
flex-direction:column;
gap:10px;
max-width:400px;
margin:auto;
}

input,textarea{
padding:10px;
border:none;
border-radius:8px;
}

footer{
padding:20px;
background:#000;
}

/* LIGHT MODE */
.light{
background:white;
color:black;
}
